div ng-app="Search"
  div ng-controller="QueryCtrl"
    input#search{
      autofocus
      placeholder="input your collocation here"
      ng-model="collocation"
      ng-change="find(collocation)"
    }

  div ng-controller="ItemsCtrl"
    .item{
      ng-repeat="sentence in models.sentences"
      ng-bind-html="sentence | html"
    }
